*{
	padding: 0; margin: 0; box-sizing: border-box;
}
.swiper{
	width: 100vw;
	height: 100vh;
}
.swiper-slide{
	position: relative;
	width: 100%;
	height: 100%;
}

.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.welcome{
	position: absolute;
	width: 100%;
	text-align: center;
	color: papayawhip;	
	top: 5%;
	font-size: 100px;
}
.state{
	position: absolute;
	bottom: 20%;
	width: 100%;
	text-align: center;
	font-size: 100px;
	color: aqua;
}
.c{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}
.Dennis{
	position: absolute;
	width: 50%;
	top: 20%;
	right: 0;
}
.state22{
	position: absolute;
	width: 50%;
	top: 20%;
	left: 0;
	font-size: 40px;
	font-weight: bold;
}
.state23{
	position: absolute;
	width: 100%;
	bottom: 10%;
	text-align: center;
	color: firebrick;
	font-size: 45px;
	font-weight: bold;
}
.state32{
	position: absolute;
	width: 50%;
	top: 20%;
	text-align: center;
	color: firebrick;
	font-size: 50px;
	font-weight: bold;
}
.state33{
	position: absolute;
	width: 100%;
	text-align: center;
	color: yellow;
	bottom: 10%;
	font-size: 60px;
	font-weight: bold;
}
.code{
	position: absolute;
	width: 50%;
	height: 20%;
	top: 20%;
	right: 0;
}
.jiaoLiu{
	position: absolute;
	top: 50%;
	width: 80%;
	left: 10%;
}
.map{
	position: absolute;
	left: 20%;
	top: 39%;
	
}
.title3{
	position: absolute;
	width: 100%;
	color: yellowgreen;
	text-align: center;
	top: 10%;
	font-size: 70px;
	font-weight: bold;
}
.title4{
	position: absolute;
	width: 100%;
	color: black;
	text-align: center;
	top: 30%;
	font-size: 70px;
	font-weight: bold;
}
.information{
	position: absolute;
	width: 80%;
	top: 60%;
	left: 10%;
}
#name{
	width: 48%;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 50px;
	padding-left: 10px;
	border: 1px solid green;
	font-size: 35px;
	font-weight: 300;
}
#phone{
	width: 48%;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 35px;
	font-weight: 300;
	line-height: 50px;
	padding-left: 10px;
	border: 1px solid green;
}
#remark{
	width: 100%;
	height: 50px;
	position: absolute;
	top: 60px;
	right: 0;
	line-height: 50px;
	padding-left: 10px;
	border: 1px solid green;
	font-size: 35px;
	font-weight: 300;
}
#buttons{
	width: 100%;
	height: 80px;
	position: absolute;
	top: 120px;
	right: 0;
	background: green;
	border: none;
	font-size: 35px;
	font-weight: 1000;
}
#music{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	position: fixed;
	top: 1%;
	right: 1%;
	z-index: 9;
}
.music{
	animation: ani 2s linear infinite;
}
@keyframes ani{
	from{ transform: rotate(0deg);}
	to{ transform: rotate(360deg);}
}